html {
  letter-spacing: 0.12em;
  font-family: "Noto Serif JP", serif;
  font-size: 10px;
  color: #2B2010;
}

html h5 {
  font-size: 2.8rem;
  color: #A49240;
  font-weight: 600;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  html h5 {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1408px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
    letter-spacing: 0.11em;
  }
}

body {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.96;
}

.sans-serif {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.08em;
}

.serif {
  font-family: "Libre Baskerville", serif;
}

.gothic {
  font-family: 'Noto Sans JP', sans-serif;
}

.num {
  font-family: 'Source Serif Pro', serif;
}

.subtitle {
  font-family: "Noto Sans JP", serif;
  color: #A49240;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
  display: inline-block;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.4rem;
    padding: 0 24px;
  }
}

.subtitle:before, .subtitle::after {
  content: " ";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #A49240;
}

@media screen and (max-width: 768px) {
  .subtitle:before, .subtitle::after {
    width: 16px;
  }
}

.subtitle:before {
  left: 0;
}

.subtitle:after {
  right: 0;
}

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .tab {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .sp {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1408px) {
  .sp {
    display: none !important;
  }
}

@media screen and (min-width: 1408px) {
  .sp {
    display: none !important;
  }
}

.head {
  margin-bottom: 64px;
  line-height: 1.34;
}

@media screen and (max-width: 768px) {
  .head {
    margin-bottom: 24px;
  }
}

.head h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 6rem;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  .head h3 {
    font-size: 4.2rem;
  }
}

.minihead {
  margin-bottom: 24px;
  line-height: 1.2;
}

.minihead h4 {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .minihead h4 {
    font-size: 2.8rem;
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.carousel button {
  height: 100%;
  opacity: 0.5;
  font-size: 2em;
}

.carousel img {
  height: 640px;
}

.carousel .btn_left {
  z-index: 1;
  width: 8%;
  height: 640px;
}

.carousel .btn_right {
  z-index: 1;
  width: 8%;
  height: 3 640px;
}

.slider {
  overflow: hidden;
  position: relative;
  height: calc($media-height + 15px);
  margin: 0 auto;
  background-color: #fff;
}

.slider div {
  overflow-x: scroll;
}

.slider div p {
  font-size: 2rem;
  padding-top: 8px;
}

#overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 23, 6, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#overlay .modal-img {
  width: 95%;
  z-index: 10;
}

#overlay .modal-img img {
  max-width: 100%;
  max-height: 88vh;
}

#overlay .modal-img p {
  font-size: 3.4rem;
  color: #fff;
  padding-top: 8px;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 5;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(52, 44, 19, 0.2);
          box-shadow: 0 4px 8px 0 rgba(52, 44, 19, 0.2);
}

@media screen and (max-width: 768px) {
  header {
    height: 34px;
  }
}

header .header-wrap {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  header .header-wrap {
    width: 88%;
  }
}

header .header-wrap .pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrap .pc li {
  font-size: 14px;
  padding-right: 25px;
  border-right: 2px solid #97801a;
  margin-right: 25px;
}

@media screen and (min-width: 1024px) and (max-width: 1408px) {
  header .header-wrap .pc li {
    padding-right: 20px;
    margin-right: 20px;
  }
}

header .header-wrap .pc li:last-child {
  padding-right: 0;
  margin-right: 0;
  border: none;
}

header .header-wrap .overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 32, 16, 0.78);
  color: #fff;
}

header .header-wrap .overlay .close {
  text-align: right;
  font-size: 32px;
  padding: 12px 24px 0 0;
  line-height: 1;
}

header .header-wrap .overlay ul {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}

header .header-wrap .overlay ul li {
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.kv {
  width: 100%;
  height: auto;
}

.kv img {
  width: 100%;
}

main {
  width: 100%;
}

main .introduced {
  background-color: #F8F7F5;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  main .introduced {
    padding: 40px 0;
  }
}

main .introduced .stores {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

main .introduced .stores img {
  width: 80%;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  main .introduced .stores {
    width: 769px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  main .introduced .stores {
    width: 375px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .introduced .stores img {
    width: 35%;
    margin-bottom: 16px;
  }
}

main #service {
  width: 100%;
  margin: 0 auto;
  padding: 152px 0;
}

@media screen and (max-width: 768px) {
  main #service {
    padding: 80px 0;
  }
}

main #service .introduction {
  width: 720px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  main #service .introduction {
    width: 375px;
  }
}

main #service .text {
  margin: 0 auto 88px auto;
}

@media screen and (max-width: 768px) {
  main #service .text {
    margin-bottom: 40px;
  }
}

main #service .text p {
  margin-bottom: 30px;
  font-weight: 500;
}

main #service .text p:last-child {
  margin-bottom: 0;
}

main #service .function {
  width: 890px;
  margin: 0 auto;
  margin-bottom: 152px;
}

@media screen and (max-width: 768px) {
  main #service .function {
    width: 375px;
    margin-bottom: 80px;
  }
}

main #service .function .panels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

main #service .function .panels .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background-color: #F8F7F5;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  main #service .function .panels .panel {
    width: 180px;
    height: 180px;
    margin: 0 auto 16px auto;
  }
}

main #service .function .panels .panel img {
  height: 85px;
  fill: #A49240;
  margin-bottom: 8px;
}

main #service .function .panels .panel p {
  font-size: 1.8rem;
  line-height: 1.2;
}

main #plan {
  margin-bottom: 152px;
}

main #price {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #F8F7F5;
  padding: 64px 0;
}

main #price .list {
  width: 72%;
  min-width: 1024;
  margin: 0 auto 88px auto;
}

main #price .list .price-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  main #price .list .price-columns {
    display: block;
  }
}

main #price .list .column-label {
  margin-top: 235px;
}

main #price .list .column-label li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 142px;
  min-height: 104px;
  font-size: 18px;
}

main #price .list .column-label li .note {
  font-size: 14px;
}

main #price .list .column-label li:first-child {
  border-radius: 30px 0 0 0;
}

main #price .list .column-label li:last-child {
  border-radius: 0 0 0 30px;
}

main #price .list .column-contents {
  width: 38%;
}

@media screen and (max-width: 768px) {
  main #price .list .column-contents {
    width: 100%;
    margin: 30px auto 0px auto;
  }
}

main #price .list .column-contents .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  height: 75px;
  background-color: #508A7C;
  color: #fff;
  border-radius: 30px 30px 0 0;
}

@media screen and (max-width: 768px) {
  main #price .list .column-contents .tag {
    font-size: 1.6rem;
    height: 56px;
  }
}

main #price .list .column-contents .tag.basic {
  background-color: #50739B;
}

main #price .list .column-contents .plan-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  background-color: #5B9D93;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  main #price .list .column-contents .plan-title {
    height: 104px;
  }
}

main #price .list .column-contents .plan-title.basic {
  background-color: #5995B5;
}

main #price .list .column-contents .plan-title .price-number {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.08em;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  main #price .list .column-contents .plan-title .price-number {
    margin-top: 0;
  }
}

main #price .list .column-contents .plan-cell li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 104px;
  background-color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  border-bottom: rgba(112, 112, 112, 0.3) 2px solid;
}

@media screen and (max-width: 768px) {
  main #price .list .column-contents .plan-cell li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    font-weight: 400;
    line-height: 1.2;
  }
  main #price .list .column-contents .plan-cell li p, main #price .list .column-contents .plan-cell li i {
    width: 65%;
    font-size: 2.4rem;
  }
  main #price .list .column-contents .plan-cell li p.plan-header, main #price .list .column-contents .plan-cell li i.plan-header {
    width: 35%;
    font-size: 1.6rem;
  }
  main #price .list .column-contents .plan-cell li p.jp, main #price .list .column-contents .plan-cell li i.jp {
    font-size: 1.96rem;
  }
  main #price .list .column-contents .plan-cell li span {
    font-size: 1.4rem;
  }
}

main #price .list .column-contents .plan-cell li.num {
  font-size: 3.8rem;
  font-weight: 400;
}

main #price .list .column-contents .plan-cell li .num {
  font-size: 3.8rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  main #price .list .column-contents .plan-cell li .num {
    font-size: 3rem;
  }
}

main #price .list .column-contents .plan-cell li:last-child {
  border: none;
}

main #price .list .note {
  line-height: 1.2;
  text-align: right;
}

main #price .option {
  width: 88%;
  min-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  main #price .option {
    min-width: 375px;
  }
}

main #price .option h6 {
  font-size: 2.4rem;
  margin-bottom: 4px;
}

main #price .option .option-price {
  font-size: 2.2rem;
}

main #price .option img {
  margin-top: 16px;
  width: 60%;
}

main #price .option .option-contents {
  margin-bottom: 48px;
}

main #review {
  padding: 152px 0;
  width: 75%;
  min-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  main #review {
    padding: 80px 0;
    min-width: 375px;
  }
}

main #review .case-contents {
  margin-bottom: 88px;
}

@media screen and (max-width: 768px) {
  main #review .case-contents {
    margin-bottom: 40px;
  }
}

main #review .case-contents .case-label {
  text-align: left;
  border-bottom: 1px solid #2B2010;
  margin-bottom: 3.2rem;
}

@media screen and (max-width: 768px) {
  main #review .case-contents .case-label {
    margin-bottom: 1.6rem;
  }
}

main #review .case-contents h6 {
  font-size: 3.6rem;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  main #review .case-contents h6 {
    font-size: 2.8rem;
    margin-bottom: 1.4rem;
  }
}

main #review .case-contents .case-title {
  font-size: 2rem;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  main #review .case-contents .case-title {
    width: 85%;
    margin: 0 auto 1.6em auto;
    font-size: 1.8rem;
  }
}

main #review .case-contents .case-movie {
  width: 80%;
  margin: 0 auto;
}

main #review .case-contents .case-movie img {
  width: 100%;
}

main #review .case-contents .case-movie ul {
  text-align: left;
  margin: 32px 0 16px 0;
}

@media screen and (max-width: 768px) {
  main #review .case-contents .case-movie ul {
    margin: 16px 0 12px 0;
  }
}

main #review .case-contents .case-movie ul span {
  display: inline-block;
  width: 80px;
}

@media screen and (max-width: 768px) {
  main #review .case-contents .case-movie ul span {
    width: 60px;
  }
}

main #review .case-contents .case-discription {
  width: 65%;
  margin: 0 auto;
  text-align: left;
}

@media screen and (max-width: 768px) {
  main #review .case-contents .case-discription {
    width: 90%;
  }
}

main #works {
  padding: 128px 0;
  background-color: #F8F7F5;
}

@media screen and (max-width: 768px) {
  main #works {
    padding: 64px;
  }
}

main #works .works-contents {
  width: 88%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  main #works .works-contents {
    width: 100%;
  }
}

main #works .works-contents .work {
  width: 30%;
}

@media screen and (max-width: 768px) {
  main #works .works-contents .work {
    width: 100%;
  }
}

main #works .works-contents .work img {
  width: 100%;
}

main #faq {
  padding: 152px 0;
  width: 100%;
  min-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  main #faq {
    padding: 80px 0;
    min-width: 375px;
  }
}

main #faq .question {
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
  padding: 36px;
  background-color: #F8F7F5;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  main #faq .question {
    padding: 24px;
    margin-bottom: 24px;
  }
}

main #faq .question .question-title {
  padding-bottom: 24px;
  border-bottom: 1px solid #2B2010;
}

@media screen and (max-width: 768px) {
  main #faq .question .question-title {
    padding-bottom: 12px;
  }
}

main #faq .question .answer {
  padding-top: 24px;
}

@media screen and (max-width: 768px) {
  main #faq .question .answer {
    padding-top: 12px;
  }
}

main #flow {
  padding: 64px 0;
  background-color: #F8F7F5;
}

main #flow .left {
  width: calc((100% - 60px) * 0.4);
}

main #flow .left .flow-part::after {
  content: "";
  position: absolute;
  right: -30px;
  bottom: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 30px 0 30px 30px;
}

main #flow .right {
  padding-top: calc(148px + 6vmin);
  width: calc((100% - 60px) * 0.4);
}

main #flow .right .flow-part::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 0;
  top: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 30px 30px 30px 0;
}

main #flow .left li,
main #flow .right li {
  margin-bottom: calc(68px * 2 + 64px);
}

main #flow .left li:last-child,
main #flow .right li:last-child {
  margin-bottom: 0;
}

main #flow .center {
  width: calc((100% - 60px) * 0.13);
  margin: 0 30px;
  padding-top: calc(112px - 32px);
}

main #flow .center li p {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border: 1px solid #2B2010;
  font-size: 4.4rem;
  line-height: 1.5;
  margin: 0 auto;
}

main #flow .center li .line {
  width: 2px;
  height: 148px;
  background-color: #7d7d7d;
  margin: 0 auto;
}

main #flow .flow-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  min-width: 1024px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  main #flow .flow-contents {
    display: block;
    width: 90%;
    min-width: 375px;
  }
}

main #flow .flow-part {
  position: relative;
  background-color: white;
  text-align: left;
  padding: 32px;
  height: 224px;
}

@media screen and (max-width: 768px) {
  main #flow .flow-part {
    padding: 18px;
    height: auto;
    margin-bottom: 24px;
  }
}

main #flow .flow-part .flow-title {
  font-size: 2.2rem;
  padding-bottom: 24px;
  border-bottom: 1px solid #2B2010;
}

@media screen and (max-width: 768px) {
  main #flow .flow-part .flow-title {
    padding-bottom: 12px;
  }
}

main #flow .flow-part .flow-description {
  font-size: 1.8rem;
  padding-top: 24px;
}

@media screen and (max-width: 768px) {
  main #flow .flow-part .flow-description {
    padding-top: 12px;
  }
}

main footer {
  background-color: #F8F7F5;
  padding: 36px;
}

@media screen and (max-width: 768px) {
  main footer {
    display: block;
    min-width: 375px;
  }
}

main footer .footer-title {
  font-size: 2.6rem;
  font-weight: 600;
  padding-bottom: 16px;
}

@media screen and (max-width: 768px) {
  main footer .footer-title {
    text-align: center;
    padding-bottom: 8px;
    line-height: 1;
  }
}

main footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 32px;
  margin-bottom: 40px;
  border-bottom: 2px solid #7d7d7d;
}

@media screen and (max-width: 768px) {
  main footer .footer-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main footer .footer-nav ul li {
  font-size: 1.8rem;
  padding-right: 24px;
  margin-right: 24px;
  border-right: 1px solid #7d7d7d;
}

@media screen and (max-width: 768px) {
  main footer .footer-nav ul li {
    width: 28%;
    padding-right: 0px;
    margin-right: 0;
    border: none;
  }
}

main footer .footer-nav ul li:last-child {
  border: none;
}

@media screen and (max-width: 768px) {
  main footer .footer-nav ul::after {
    content: "";
    display: block;
    width: 28%;
    height: 0;
  }
}

main footer .company-info img {
  width: 120px;
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */