// variable start
$main-text: #2B2010;
$head-text: #421F14;
$subtone: #F8F7F5;
$accent: #A49240;

$media-height: 640px;

$section-margin: 152px;
$head-margin: 104px;
$subhead-margin: 64px;
$subtone-margin: 128px;
$subtone-margin-sp: 64px;
$small-margin: 10px;
$faq-margin: 48px;
$contents-margin: 88px;
// variable end